<div class="page fadeInUp" id="home">
    <div class="logo">
        <img src="img/home-logo.png" width="100%">
    </div>
    <div class="menu">
        <div ng-click="notification()" class="item button" style="background-color:#62DE9B">Notification</div>
        <div ng-click="result()" class="item button" style="background-color:#FF1495">Result</div>
        <div ng-click="syllabus()" class="item button" style="background-color:#F36B42">Syllabus</div>
        <div ng-click="test()" class="item button" style="background-color:#FFB814">Start Practice Test</div>
        <div ng-click="register()" class="item button scaling" style="background-color:#ea2929">Register Now!</div>
        <br><br><br><br>
    </div>

    <div class="cloud"></div>
</div>

<div class="page fadeIn" id="notification">
    <div class="header">Notifications</div>
    <div class="notification-panel">
        <div class="info-area">
            <div class="loading-div" ng-show="notify_hide">
                <div class="spinner"><div class="mdl-spinner mdl-js-spinner is-active"></div></div>
                <div class="text">fetching notifications</div>
            </div>
            <div class="error-div hide">
                <div class="icon"><center><i class="material-icons">error_outline</i></center></div>
                <div class="text"><center>Can't Connect to Internet.<br>Enable WIFI or Mobile Data.</center></div>
            </div>
        </div>
        <div ng-hide="notify_hide" class="notification" ng-repeat="x in notify_data">
            <div class="circle">{{x.title[0]|uppercase}}</div>
            <div class="title">{{x.title}}</div>
            <div class="body">{{x.body}}</div>
        </div>
    </div>
    </div>
</div>

<div class="page fadeIn" id="register">
    <div class="header">Register</div>
    <div class="register-panel">
    </div>
</div>