<div class="page fadeInUp" id="home" ng-controller="homeController">
    <div class="logo">
        <img src="img/home-logo.png" width="100%">
    </div>
    <div class="menu">
        <div ng-click="notification()" class="item button" style="background-color:#62DE9B">Notification</div>
        <div ng-click="result()" class="item button" style="background-color:#FF1495">Result</div>
        <div ng-click="syllabus()" class="item button" style="background-color:#F36B42">Syllabus</div>
        <div ng-click="test()" class="item button" style="background-color:#FFB814">Start Practice Test</div>
        <div ng-click="register()" class="item button scaling" style="background-color:#ea2929">Register Now!</div>
    </div>

    <div class="cloud"></div>
</div>

<div class="page fadeIn" id="notification">
    <div class="header">Notifications</div>
    <div class="notification-panel">
        <div class="notification">
            <div class="circle">M</div>
            <div class="title">Sample Title</div>
            <div class="body">sample Body dfrddfvrt fgdfgerewgh fgdg fgd gdfgd fgdf gdfg dg </div>
        </div>
    </div>
    </div>
</div>