<div class="page animated fadeIn">
    <div class="logo" ng-click="about()">
        <img src="img/home-logo.png" width="100%">
    </div>
    
    <div class="menu">
        <div ng-click="notification()" class="item button" style="background-color:#62DE9B">Notification</div>
        <div ng-click="result()" class="item button" style="background-color:#FF1495">Result</div>
        <div ng-click="syllabus()" class="item button" style="background-color:#F36B42">Syllabus</div>
        <div ng-click="test()" class="item button" style="background-color:#FFB814">Start Practice Test</div>
        <div ng-click="register()" class="item button scaling" style="background-color:#ea2929">Register Now!</div>
        <br><br><br><br>
    </div>

    <div class="cloud"></div>

</div>