<style>
    h5{
        text-align: center;
        color: #6b6b6b;
        padding-bottom: 10px;
    }

    .a-link
    {
        display:block;
        padding-top:30px;
        color: rgb(138, 138, 138);
    }
</style>

<div class="page">
    <div class="logo" ng-click="about()">
        <img src="img/large-logo.png" width="100%">
    </div>

    <h5>Login or Register</h5>
    
    <div class="menu">
        <div ng-click="login()" class="item button" style="background-color:#62DE9B">Login</div>
        <div ng-click="register()" class="item button scaling" style="background-color:#ea2929">Registration</div>

        <center><a class="a-link" href="#">Know about CDGI Science Olympiad</a></center>
        <br><br><br><br>
    </div>

    <div class="cloud"></div>

</div>