<div class="page">
    <div class="logo" ng-click="about()">
        <img src="img/large-logo.png" width="100%">
    </div>
    
    <div class="menu">

        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" ng-model="data.enrollment">
            <label class="mdl-textfield__label">Enrollment No</label>
        </div>

        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="password" ng-model="data.password">
            <label class="mdl-textfield__label">Password</label>
        </div>
        
        <div ng-click="login()" class="item button" style="background-color:#62DE9B">Login</div>
        <br>
        <center><a class="a-link" href="#">Know about CDGI Commerce Olympiad</a></center>
        <br><br>
    </div>

    <div class="cloud"></div>

</div>